@include font-face("SegoeUI", "SegoeUI-Bold", 700);
@include font-face("SegoeUI", "SegoeUI-BoldItalic", 700, italic);
@include font-face("SegoeUI", "SegoeUI-Light", 300);
@include font-face("SegoeUI", "SegoeUI-Italic", 400, italic);
@include font-face("SegoeUI", "SegoeUI-SemiBold", 600);
@include font-face("UbuntuSans", "UbuntuSans-Italic", 400, italic);
@include font-face("UbuntuSans", "UbuntuSans-Regular", 400);
@include font-face("SegoeUI", "SegoeUI", 400);
