<html lang="@@lang">

<head>
	<meta charset="UTF-8">
	<base href="[[!++site_url]]" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
	<meta name="description"
				content="@@description">
	<meta name="keywords"
				content="@@keywords">
	<!-- <link rel="shortcut icon"
				href="@@favicon.svg"
				type="image/svg+xml">
	<link rel="shortcut icon"
				href="@@favicon.webp"
				type="image/webp">
	 <link rel="shortcut icon"
				href="@@favicon.png"
				type="image/x-icon">  -->
	<link rel="shortcut icon"
				href="@@favicon.ico"
				type="image/x-icon">		
				<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.min.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/6.6.6/css/flag-icons.min.css">	
	<link rel="stylesheet"
				href="css/libs.min.css">
	<link rel="stylesheet"
				href="css/style.min.css">
	<title>@@title</title>
</head>
