@include font-face("SegoeUI-Bold", "SegoeUI-Bold", 400);
@include font-face("SegoeUI-BoldItalic", "SegoeUI-BoldItalic", 400);
@include font-face("SegoeUI-Italic", "SegoeUI-Italic", 400);
@include font-face("SegoeUI-SemiBold", "SegoeUI-SemiBold", 400);
@include font-face("SegoeUI-Light", "SegoeUI-Light", 400);
@include font-face("UbuntuSans-Italic", "UbuntuSans-Italic", 400);
@include font-face("SegoeUI", "SegoeUI", 400);
@include font-face("UbuntuSans-Regular", "UbuntuSans-Regular", 400);
